@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Crimson Pro', serif;
}

/* Softer, more diffuse text shadow */
.hero-title-shadow {
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.font-icons {
  /* font-family: 'TI-Icons', sans-serif; */
}

.site-header {
  background-color: transparent;
}

.hero-article {
  position: relative;
}

.hero-article__link {
  display: block;
  position: relative;
}

.hero-article__image {
  width: 100%;
  height: auto;
}

.hero-article__heading {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

.content-card {
  @apply bg-gray-100 dark:bg-gray-800;
  transition: box-shadow 0.3s ease-in-out;
}

.content-card:hover {
  @apply shadow-lg dark:shadow-xl;
}

.article-body p {
  @apply text-lg leading-relaxed my-6 text-gray-800 dark:text-gray-300;
}

.article-body h2 {
  @apply text-3xl font-bold mt-12 mb-4 font-serif text-gray-900 dark:text-gray-100;
}

.article-body h3 {
  @apply text-2xl font-bold mt-8 mb-4 font-serif text-gray-900 dark:text-gray-100;
}

.article-body a {
  @apply text-blue-500 hover:underline;
}

.article-body blockquote {
  @apply border-l-4 border-gray-400 dark:border-gray-600 pl-4 italic my-6 text-gray-600 dark:text-gray-400;
}


.bg-accentLight {
  background-color: #ff6900;
}

.text-accentDark {
  color: #cf2e2e;
}

.bg-concrete {
  background-color: #f2f2f2;
}

.text-body {
  @apply text-black dark:text-white;
}

.mobile-menu-open {
  overflow: hidden;
}

.header__search input::placeholder {
  @apply text-white dark:text-black;
}

#nav-overlay {
  height: 100vh;
  overflow-y: auto;
}