---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import PostCard from '../components/PostCard.astro';
import { getHomepagePosts } from '../lib/sanity/queries';

const posts = await getHomepagePosts();
const heroPost = posts[0];
const featuredPosts = posts.slice(1, 5);
const recentPosts = posts.slice(5);
---

<MainLayout title="Chinese SDG Institute" description="Promoting sustainable development goals through research and action.">
  <Hero post={heroPost} slot="hero" />

  <nav class="w-full">
    <div class="mx-auto max-w-6xl px-4">
        <ul class="flex justify-center items-center gap-8 h-[60px] text-lg font-semibold">
          <li><a href="/category/report" class="hover:text-gray-300 xl:hover:text-gray-600 transition-colors font-serif">Report</a></li>
          <li><a href="/category/event" class="hover:text-gray-300 xl:hover:text-gray-600 transition-colors font-serif">Event</a></li>
          <li><a href="/category/interview" class="hover:text-gray-300 xl:hover:text-gray-600 transition-colors font-serif">Interview</a></li>
          <li><a href="/category/podcast" class="hover:text-gray-300 xl:hover:text-gray-600 transition-colors font-serif">Podcast</a></li>
        </ul>
    </div>
  </nav>

  <div id="content" class="site-content flex-grow site-content--home">
    <div class="entry-content">
      <section class="top-stories">
        <h2 class="!text-[2.375rem] xl:!text-[3.5rem] pt-2.5 mt-5 mb-5">
          Featured Stories
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-5">
          {featuredPosts.map(post => <PostCard post={post} size="medium" />)}
        </div>
      </section>
      <section class="recent-stories mt-10">
        <h2 class="!text-[2.375rem] xl:!text-[3.5rem] pt-2.5 mt-5 mb-5">
          Recent Stories
        </h2>
        <div class="flex flex-col gap-5">
          {recentPosts.map(post => <PostCard post={post} size="small" />)}
        </div>
      </section>
    </div>
  </div>
</MainLayout>