---
// src/components/Footer.astro
---

<footer id="colophon" class="site-footer font-mono py-10 border-t" role="contentinfo">
  <div class="wrapper">
    <div class="flex flex-col xl:flex-row flex-wrap">
      <div class="xl:w-1/2 mb-10 ml-[-3px] print:mb-0">
        <a href="/" class="text-2xl font-bold text-body font-serif">
          Chinese SDG Institute
        </a>
      </div>
      <nav class="xl:w-1/2 xl:flex xl:gap-5 mt-[5px] justify-end print:hidden">
        <div class="flex-1">
          <ul id="menu-footer-1" class="footer-menu">
            <li id="menu-item-427773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-427773"><a href="/about/">About</a></li>
            <li id="menu-item-427779" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-427779"><a href="/support-us/">Support Us</a></li>
            <li id="menu-item-427778" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-427778"><a href="/newsletter/">Join Newsletter</a></li>
            <li id="menu-item-472523" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-472523"><a href="/jobs/">Jobs</a></li>
          </ul>
        </div>
        <div class="flex-1">
          <ul id="menu-footer-2" class="footer-menu">
            <li id="menu-item-478555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-478555"><a href="/contact/">Contact Us</a></li>
            <li id="menu-item-462263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-462263"><a href="/policies/">Policies</a></li>
            <li id="menu-item-427780" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427780"><a href="/terms-use/">Terms of Use</a></li>
            <li id="menu-item-427781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427781"><a href="/privacy-policy/">Privacy</a></li>
          </ul>
        </div>
      </nav>
      <div class="mt-10 xl:-mt-6">
        <p class="text-[10px] uppercase leading-3 tracking-widest text-light-copy my-2.5">© Chinese SDG Institute. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
