---
// src/components/Header.astro
---

<header class="site-header absolute top-0 left-0 z-[100] w-full bg-transparent">
  <div class="site-header__logo-wrapper h-[77px] xl:h-[110px] w-full pl-5 sm:pl-10 xl:pl-[30px] flex relative">
    <div class="site-header__logo-inner-wrapper flex gap-6 items-center w-full">
      <a class="text-2xl font-bold text-white font-serif" href="/" aria-label="Chinese SDG Institute Homepage">
        Chinese SDG Institute
      </a>
      <div class="ml-auto site-header__logo-container flex xl:ml-0 xl:-order-1 h-[77px] xl:h-auto">
        <div class="header__hamburger flex px-5 items-center">
          <button type="button" class="block text-white text-[30px] font-icons icon-TI_Menu leading-none transition" aria-label="Toggle Menu">
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
